@import "tailwindcss";

body {
  background: #061022; 
}

html {
  scroll-behavior: smooth;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.custom-cursor {
  display: inline-block;
  width: 1ch;
  animation: blink 1s step-start infinite;
}
