@import "tailwindcss";

body {
  background: linear-gradient(
    to bottom,
    #0f172a 0%,
    #1e2f49 20%,
  
    #3e5881 60%,
    #0f172a 80%,
    #1e2f49 100%
  );
}

html {
  scroll-behavior: smooth;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.custom-cursor {
  display: inline-block;
  width: 1ch;
  animation: blink 1s step-start infinite;
}
